$gutter-spacing: 24px;

.budget-subdivisions mat-radio-button {
  margin-right: $gutter-spacing;
}

.budget-buttons {
  margin-top: $gutter-spacing;
  
  > * {
    margin-right: $gutter-spacing;
  }
}