:host {
  display: flex;
  width: 100%;

  > span {
    flex: 1 0 auto;

    &:first-child {
      flex: 5rem;
    }
  }

  .allotment-display, .allotment-edit {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}